@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    overflow-x: hidden;
}


body {
    background-color: #1e1d2b;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}


.navbar-brand {
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 2rem;
    text-decoration: none;
    white-space: nowrap;
}

a {
    color:#ff702a;
    text-decoration: underline;
}
.navbar-nav {
    display: flex;

}


.menu{
    margin-top: 10rem;
    margin-left: 20rem;
    padding:6em;
}

.texto{
    font-size: 2em;
}

.titu{
    color: #ff702a;
    font-size: 6rem;
}

h5 {
    font-size: 3rem;
}

.img{
    height: 30em;
    width: 35em;
    position:relative;
    float: right;
    left: 30em;
    bottom: 26rem;
}

.success{
    background-color: #ff702a;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
}

.parte{
    padding: 24em;
    font-family: sans-serif;
}

.image{
    position: relative;
    bottom: 5em;
    right: 0;
}

.dere{
    float: right;
}


p{
    color:#ff702a;
    font-size: 1rem;
}

.titul{
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

button{
    background-color: #ff702a;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
}

.men{
    padding-top: 6em;
}
.subtitle-menu{
    text-align: center;
    color:#ff702a;
    display: block;
    font-size: 25px;
}
.title-menu{
    text-align: center;
    color: white;
    font-size: 39px;
}
.card-title{
    color: #000;
    font-size: 1.9em;
    font-family: 'Poppins';
}

.col1{
    width: 23em;
    height: 30.5em;
    text-align: center;
    margin-left: 12em;
    margin-bottom: 3%;
    margin-top: 3em;
}

.col2{
    width: 23em;
    height: 30.5em;
    text-align: center;
    margin-left: 12em;
    margin-bottom: 4%;
    margin-top: 3em;
}

.col3{
    width: 23em;
    height: 30.5em;
    text-align: center;
    margin-left: 10em;
    margin-bottom: 4%;
    margin-top: 3em;
}

.cardtext{
    color: #000;
    font-size: 1.5em;
}

.precio{
    color: ff702a;
    font-size: 1.3em;
}

.tituloo{
    text-align: center;
    font-size: 2em;
}

.centro{
    text-align: center;
    color: #fff;
    font-size: 3em;
    margin-bottom: 2em;
}

.servicio{
    padding: 7.5em;
}

.im{
    height: 17em;
    width: 16em;
}

.num1{
    display: inline-block;
    text-align: center;
    margin-left: 6em;
    padding: 3%;
}

.num2{
    display: inline-block;
    text-align: center;
    margin-left: 6em;
    padding: 2%;
}

.num3{
    display: inline-block;
    text-align: center;
    padding: 3%;    
    margin-left:6em;
}

.tit{
    font-size: 1.5em;
}

.tex{
    color: #fff;
    font-size: 1.4em;
}

.card-body{
    background-color: #ffefe8;
    padding: 5%;
}

.card-text{
    text-align: center;
    color: #000;
    font-size: 4em;
    font-family: 'Poppins'!important;
}

.btn-primary{
    background-color: #ff702a;
    border: none;
    font-size: 1.3em;
}

.fall{
    padding: 10%;
}

.fin{
    padding: 2em;
    color: #fff;
}


.part1{
    display: inline-block;
    margin-left: 10em;
}

.part2{
    display: inline-block;
    margin-left: 10em;
}
.part3{
    display: inline-block;
    margin-left: 10em;
}

.part4{
    display: inline-block ;
    margin-left: 10em;
}

h2{
    font-size: 1em;
}

.logo-footer{
    border-radius: 55%;
    width: 50px;
    height: 50px;
    background: #ff6112;
    border: none;
    padding: 6px 0;
    margin: 10px 3px 0 0;
}

.col-md-3{
    display: inline-block;
}